header {
  background-color: var(--header-background-color);
  max-width: 400px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px;
  vertical-align: bottom;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.circle {
  background-color: #f59701;
  border-radius: 50%;
  height: 32px;
  margin: 0px 16px 0 auto;
  min-width: 32px;
}
