.navigation {
  border-top: solid 1px var(--border-color);
  background-color: var(--background-color);
  margin: 0 auto;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.navigationContainer {
  display: flex;
  text-align: center;
}

.nav {
  padding: 8px;
  width: 100%;
}

.navIcon {
  color: var(--no-active-nav-color);
  height: 1.25rem;
  width: 1.25rem;
}

.nav.active p {
  color: var(--active-nav-color);
}

.nav.active .navIcon {
  color: var(--active-nav-color);
}

.nav p {
  color: var(--no-active-nav-color);
  font-size: 12px;
  margin-top: 4px;
}
