.search {
  margin: 16px;
}

.searchText {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid #afafaf;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 1rem;
  padding: 12px;
  width: 100%;
}

.searchText::placeholder {
  color: var(--text-gray-color);
}

.searchText:focus {
  outline: none;
}
