/* color */
:root {
    --background-color: #282828;
    --header-background-color: #202020;
    --text-color: #e0e0e0;
    --icon-color: #e0e0e0;
    --border-color: #2E2F38;
}

/* main */

body {
    background-color: var(--background-color);
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    margin: 0;
    color: white;
}

p {
    margin: 0;
}

/* home-item */

.item {
    align-items: center;
    display: flex;
    text-align: center;
    transition: height 0.3s ease-in-out, opacity 0.15s ease-in-out;
    padding: 12px 16px;
}

.icon {
    color: var(--icon-color);
    display: block;
    width: 1rem;
    height: 1rem;
}

.hash {
    color: var(--text-color);
    width: 1rem;
}

.text {
    margin: 0px 0px 0px 16px;
}

/* section */

.section {
    border-bottom: 1px solid var(--border-color);
}

/* toggle */

.toggle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}

.toggle p {
    color: var(--text-color);
    font-weight: bold;
}

.toggleIcon {
    color: var(--icon-color);
    font-size: 1.25rem;
    transition: transform 0.3s;
}

.toggleIcon.closed {
    transform: rotate(0deg);
}

.toggleIcon.opened {
    transform: rotate(90deg);
}

.content {
    overflow: hidden;
}

.item.visible {
    height: 48px;
    opacity: 1;
    padding: 0px 0px 0px 16px;
}

.item.hidden {
    height: 0;
    opacity: 0;
    padding: 0px 0px 0px 16px;
}
